@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

article{
	page-break-after: always;
}

footer{
	margin-top: 1em;
	text-align: right;
	padding-left: 25%;
}

.signature{
	font-variant: small-caps;
}
