@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.era{
	font-variant: all-small-caps;
}

article{
	page-break-after: always;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

article footer{
	margin-top: 0;
	text-align: center;
}

article footer p{
	display: inline-block;
	font-style: italic;
	margin-top: 1em;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}
